<!-- HTML, title implementation using title value from controller -->
<% if (title) { %>
  <h1 id="managementTitle"><%= title %></h1>
  <% } else { res.redirect('/') } %>
  

  <%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <form id="updateForm" action="/inv/update" method="post">
    <div>ALL FIELDS ARE REQUIRED.</div>
    <fieldset>
    <div class="divider">
      <label for="">Classification</label><br>
      <%- dropDown %>
    </div>
    <div class="divider">
      <label for="inv_make">Make</label><br>
      <input type="text" id="inv_make" class="string" name="inv_make" title="" required value="<%= locals.inv_make %>">
    </div>
    <div class="divider">
      <label for="inv_model">Model</label><br>
      <input type="text" id="inv_model" class="string" name="inv_model" title="" required value="<%= locals.inv_model %>">
    </div>
    <div class="divider">
      <label for="inv_description">Description:</label><br>
      <textarea id="inv_description" name="inv_description" rows="4" cols="50" required value="<%= locals.inv_description %>"></textarea><br>
    </div>
    <div class="divider">
      <label for="inv_image">Image Path</label><br>
      <input type="text" id="inv_image" class="string" name="inv_image" placeholder="/images/vehicles/no-image.png" required value="<%= locals.inv_image %>"><br>
    </div>
    <div class="divider">
      <label for="inv_thumbnail">Thumbnail Path</label><br>
      <input type="text" id="inv_thumbnail" class="string" name="inv_thumbnail" placeholder="/images/vehicles/no-image.png" required value="<%= locals.inv_thumbnail %>"><br>
    </div>
    <div class="divider">
      <label for="inv_price">Price</label><br>
      <input type="text" id="inv_price" name="inv_price" title="" required pattern="\d{1,11}" value="<%= locals.inv_price %>">
    </div>
    <div class="divider">
      <label for="inv_year">Year</label><br>
      <input type="text" id="inv_year" name="inv_year" title="" required pattern="\d{4}" value="<%= locals.inv_year %>">
    </div>
    <div class="divider">
      <label for="inv_miles">Miles</label><br>
      <input type="text" id="inv_miles" name="inv_miles" title="" required pattern="\d{1,9}" value="<%= locals.inv_miles %>">
    </div>
    <div class="divider">
      <label for="inv_color">Color</label><br>
      <input type="text" id="inv_color" class="string" name="inv_color" title="" required value="<%= locals.inv_color %>">
    </div>
    <button id="update_button" type="submit" disabled>Update Vehicle<br/>
    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </fieldset>
</form>
<script src="/js/inv-update.js"></script>


